@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
h1 {
  font-family: "Cookie", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 5px;
}
#cookie-increment-button {
  height: 7rem;
  width: 7rem;
  border-radius: 10rem;
}
#upgrades-shop-container::before {
  content: "";
  border-top: 1px solid #999;
  display: block;
  width: 100vh;
}
#upgrades-shop-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.shopStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#reset-button {
  height: 4rem;
  width: 10rem;
  border-radius: 5rem;
}
